        html,
        body {
          width: 100%;
          height: 100%;
          font-family: 'Ubuntu', sans-serif;
        }
        
        h1 {
          color: #F6F4F3;
        }
        
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #29354E;
          overflow: hidden;
        }
        
        #board {
          width: 500px;
          height: 500px;
          margin: 25px auto;
          background-color: #F58189;
          padding: 16px;
          border-radius: 10px;
          box-shadow: 14px 14px 0 0 #07020D;
        }
        
        .tile {
          background-color: #F6F4F3;
          width: 102px;
          height: 102px;
          border: none;
          margin: 7px;
          border-radius: 6px;
          box-shadow: 4px 4px 1px 0 #343039;
          display: inline-block;
        }
        
        .tile:hover {
          background-color: #D7D9D3;
        }
        
        .tile:active {
          background-color: #CCCEC6;
          box-shadow: 1px 1px 1px #343039;
          transform: translateY(4px);
        }
        
        #reset {
          background-color: #F6F4F3;
          width: 40px;
          height: 30px;
          border: none;
          border-radius: 3px;
        }
        
        .zebra {
          background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/115587-200.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .rabbit {
          background-image: url("https://maxcdn.icons8.com/Share/icon/ios7/Holidays//easter_rabbit1600.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .koala {
          background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/176779-200.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .monkey {
          background-image: url("https://www.shareicon.net/download/2016/01/17/704525_zoo_512x512.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .giraffe {
          background-image: url("https://image.flaticon.com/icons/png/512/12/12606.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .parrot {
          background-image: url("https://www.shareicon.net/download/2016/11/28/857811_bird_512x512.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .elephant {
          background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/14048-200.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .squirrel {
          background-image: url("https://image.flaticon.com/icons/png/512/26/26098.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
        }
        
        .hidden {
          background-image: none !important;
        }
